<%# View each individual product %>
<%= @msg %>

<section class="products-show">
  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">
    <%= image_tag @product.image.url, class: 'main-img' %>

    <%# This is refering to _product_details partial file and rendering it %>
    <%# @product is being passed down from the controller %>
    <%# We can declare a new variable 'product' to equal @product so we dont need to write @product in the details file %>
    <%= render 'product_details', product: @product%>

  </article>

</section>
